<% include ../partials/boilerplate.ejs %>

<h1> hi </h1>


<% include ../partials/footer.ejs %>

<!-- <% for(el in onebar) { %>
	<h4><%= el.name %> </h4>
<%}%>

<main class="oneBar">
  <% include barSection.ejs %>
</main> -->